MONGODB_URI=mongodb+srv://ghtoursandbikerental_db_user:MLpKR8p94HW8evc1@cluster0.tr4j4yh.mongodb.net/?appName=Cluster0
AUTH_SECRET=replace-with-a-long-random-secret

CLOUDINARY_CLOUD_NAME=u3g08wu1
CLOUDINARY_UPLOAD_PRESET=gh_tours_unsigned

ADMIN_SEED_NAME=GH Administrator
ADMIN_SEED_EMAIL=ghtoursandbikerental@gmail.com
ADMIN_SEED_PASSWORD=ChangeMe123!

NEXT_PUBLIC_SITE_URL=https://www.ghtoursandbikerentals.com
NEXT_PUBLIC_WHATSAPP=94771313178
NEXT_PUBLIC_PHONE=+94 77 131 3178
NEXT_PUBLIC_EMAIL=ghtoursandbikerental@gmail.com
